.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(8px + 2vmin);
  color: white;
  padding-bottom: 40px;
}
h1 {
  color: rgb(214, 160, 23);
}

.Info-end {
  font-size: 12px;
}