.unit {
    font-size: calc(4px + 2vmin);
    position: relative;
    line-height: 1;
    top: -30px;
}

@media (max-width:576px) {
    .unit {
        font-size: calc(14px + 2vmin);
        position: relative;
        line-height: 1;
        top: -14px; 
    }
}