.Weather-forecast {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3c444d;
    padding-top: 20px;
    border-radius: 6px;
    max-width: 80%;
}

@media (max-width:576px) {
    .Weather-forecast {
        max-width: 100%;  
        margin-left: 3%;
        margin-right: 3%;
    }
}


  
  