.Container {
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 20px;
   
  }
  .City-info {
    text-align: center;
  }
  .City {
    font-size: 60px;
  }
  
  .Weather-now {
    text-align: start;
    padding: 20px 8px;
    background-color: #3f4857;
  }
  .Weather-now p {
    font-size: 40px;
  }
  
  .Weather-day {
    text-align: center;
    margin-bottom: 40px;
  }
  .W-forecast {
    margin-bottom: 6px;
  }
  
  .Weather-forecast {
    text-align: center;
  }
  