.Icon-forecast {
    margin-top: -12px;
}

.TempMin {
    color: rgb(135, 110, 204);
}

.W-forecast {
    margin-bottom: 6px;
}

@media (max-width:576px) {
    .Icon-forecast {
        margin-top: -10px;
        width: 46px;
    }
}